@model Model.DomainModel.Book

@{
    ViewBag.Title = "Home Page";
}

<div class="row" style="margin: 70px 0;">
    <div class="col-md-3">
        <h2 style="font-family:'Times New Roman', Times, serif; font-style:italic; color: #0182b5;">Categories</h2>
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in ViewBag.CategoryNames)
            {
                <li><a href="#"><span style="margin-right: 3px">●</span> @item</a></li>
            }
        </ul>
        <h2 style="font-family:'Times New Roman', Times, serif; font-style:italic; color: #0182b5;">Authors</h2>
        <ul class="nav nav-pills nav-stacked">
            @foreach (var item in ViewBag.AuthorNames)
            {
                <li><a href="#"><span style="margin-right: 3px">●</span> @item</a></li>
            }
        </ul>
    </div>

    <div class="col-md-9">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</div>